.login-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-box p {
    font-weight: 900;
    font-size: 30px;
    color: rgb(13, 13, 105);
}

.login-box input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border-style: solid;
    margin-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

.login-box button {
    width: 200px;
    padding: 10px ;
    border: none;
    background-color: rgb(13, 13, 105);
    border-radius: 5px;
    color: white;
    font-weight: 900;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.login-box button:hover {
    opacity: 0.9;
}